body { font-size: .85rem; padding-top: 5rem; }
#pagination-controls button:disabled { cursor: default; }
#pagination-info { font-size: .7rem; }
.text-muted { color: #aaa!important; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 1rem; }
h1 { font-size: 1.85rem; }
th span { cursor: pointer; }
.form-control { font-size: inherit; padding: .6rem .75rem;  }
.form-control::-webkit-input-placeholder { color: #aaa; }
.form-control:-moz-placeholder { color: #aaa; }
.form-control::-moz-placeholder { color: #aaa; }
.form-control:-ms-input-placeholder { color: #aaa; }
#pagination-info div { padding-top: 7px; }
#driver-filter-controls { margin-bottom: 10px; }
#query-builder { margin-bottom: 1rem; }
#query-builder button.btn-secondary { margin-right: .5rem; }
#query-builder form { margin-bottom: 1rem; }
.btn { font-size: .85rem; }
.close { font-size: 1.2rem; }

td.col-driver-model a,
#pagination-controls button { cursor: pointer; }

td.col-driver-model a:not([href]) { color: #0275d8; }

p.form-text { font-size: .65rem; }

.navbar-brand { font-size: 1rem; padding: 0; text-transform: uppercase; }
a.navbar-brand:not([href]):not([tabindex]) { color: #fff; cursor: pointer; }
