body { font-size: .85rem; padding-top: 5rem; }
.navbar-brand { font-size: 1rem; padding: 0; text-transform: uppercase; }
#pagination-controls button { cursor: pointer; }
#pagination-controls button:disabled { color: #ccc; cursor: default; }
#pagination-controls {}
.table-sm td { padding: .325rem; }
